@charset "UTF-8";
.text-center {
  text-align: center;
}

.man img {
    height: calc(100vmin / 2);
    overflow-y: hidden;
  }

.page-wrap {
    height: 100vh;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    display:block;
    align-items: center;
  }

.cf {
  *zoom: 1;
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}


.aboutme .wrapper2 {
  max-width: calc(100vw / 3.5);
  margin: 0 auto;
}
.aboutme .wrapper2 h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 1.5em;
}
.aboutme .wrapper2 .speechbubble {
  background-color: #26272b;
  color: white;
  font-size: 0.em;
  line-height: 1.75;
  padding: 25px 25px;
  margin-bottom: 75px;
  cursor: default;
}
.aboutme .wrapper2 .speechbubble:nth-child(2n) {
  border-right: 15px solid;
}
.aboutme .wrapper2 .speechbubble:nth-child(2n):after {
  content: "";
  margin-top: -95px;
  padding-top: 0px;
  position: relative;
  bottom: -40px;
  left: 70px;
  border-width: 30px 0px 0px 30px;
  border-style: solid;
  border-color: #26272b transparent;
  display: block;
  width: 0;
}
.aboutme .wrapper2 .speechbubble:nth-child(2n+1) {
  border-right: 5px solid;
}
.aboutme .wrapper2 .speechbubble:nth-child(2n+1):after {
  content: "";
  margin-top: -30px;
  padding-top: 0px;
  position: relative;
  bottom: -45px;
  left: 350px;
  border-width: 30px 30px 0 0;
  border-style: solid;
  border-color: #26272b transparent;
  display: block;
  width: 0;
}
.aboutme .wrapper2 .speechbubble:nth-child(4n+1) {
  border-color: #4aec9b;
}
.aboutme .wrapper2 .speechbubble:nth-child(4n+2) {
  border-color: #4aec9b;
}

