.overlay {
  position: fixed;
  bottom: 0;
  opacity: .02;
  z-index: 0;
  height: fit-content;
}

.snow {
  z-index: 5;
}

.wrapper2 {
  top: 0px;
  left: 6vw;
  right: 6vw;
  align-items: center;
  justify-content: center;
  position: absolute;
  width:90vw;
}

.topbar {
  position: fixed;
  content: " ";
  background: white;
  height: calc(100vmin / 15);
  width: 100vw;
  z-index:2;
  box-shadow: 0px 1px 10px 0px #ffffff;
}

.fixed-bottom {
  height: calc(100vmin / 15);
}

.navbar-nav svg{
  width: auto;
  padding-top: 1vh;
  height: calc(100vmin / 12);
}

.one {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-height: 60vh;
}


.snow {
  max-height: 100vh;
  position: fixed;
  overflow-y: hidden;
}

.outer-wrapper {
  height: 90vh;
}

html {
  height:90vh;
  scrollbar-width: none; 
}

.header-wrapper {
  height:100vh;
  width: 100vw;
  overflow-y: hidden;
  text-align: center;
  justify-content: center;
  display:flex;
  align-items: center;
}




.skills ul {
  columns: 2;
  list-style-type: none;
  height: fit-content;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

#grey {
  color:grey;
}


.skills {
  font-family: monospace;
  font-size: calc(100vmin / 25);
  width: 55vw;
  left: 0;
  opacity: .7;
  background: rgb(189, 189, 189);
  color: #282c34;
  position:absolute;
  max-height: 50vh;
  bottom: calc(100vmin / 8);
  height: fit-content;
  border-radius: 0px 10px 10px 0px;
  
}

.projects {
  color:black;
  font-family: Bebas;
  font-size: calc(100vmin / 4.1);
  height: fit-content;
  text-align: center;
  border-bottom:25px solid #d0d0d0;
  width: 100vw;

}



.slide {
  width: 100vw;
}


.z {
  background: white;
  height: 30vh;
}

.previewBox {
  margin: 2px 20px 0px 0px;
  width: calc(100vmin / 3);  
  height: calc(100vmin / 3);  
  background: white;
  position: absolute;
  display: flex;
  right: 0;
}

.previewBox2 {
  margin: 2px 0px 0px 20px;
  width: 350px;  
  height: 220px;
  background: white;
  text-align: center;
  position: absolute;
  left: 0px;

}

.coverW {
  margin: 10px;
  width: calc(100vmin / 2.5);  
  height: calc(100vmin / 13);
  background: #000000;
  position: absolute;
  left: 0px;
  z-index: 0;

}

.cover2 {
  margin: 10px;
  width: calc(100vmin / 3);  
  height: calc(100vmin / 13);
  background: white;
  position: absolute;
  right: 0px;
  z-index: 0;
}


.wrapper {
  flex-direction: row;
  position: relative;
  width: fit-content;
  
}

.words {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  color: white;
  font-size: calc(100vmin / 6);
}

.words2 {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  color: black;
  font-size: calc(100vmin / 6);

  
}

.languages {
  font-size: calc(100vmin / 60);
  padding-bottom: 10px;
  color: #7c7c7b;
  font-family:monospace;
  position:relative;
  margin-left: 0px;
  margin-top: -30px;
  display: flex;
  text-decoration: underline #dfdfdf;
  opacity: .3;
}

#testt {
  color: white;
}

.one {
  height: 100vh;
}


.two {
  background: #282c34;
  display: flex;
  flex-direction: column;
  color:#4aec9b;
  height: fit-content;
  font-family: Bebas;
  font-size: calc(100vmin / 10);
  z-index: 2;
  border-top:30px solid #4aec9b;

}

.speechbubble {
  margin-top: calc(100vmin / 6);
  max-width: 1000px;
  justify-content: center;
  align-items: center;
}

p {
  font-family: monospace;
  padding: 20px 0px 0px 0px;
  font-size: calc(100vmin / 36);
  text-align: left;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
}

#details {
  text-align: left;
  position: relative;
  font-family: monospace;
  top: calc(100vmin / -26);
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  color: white;
  font-size: calc(100vmin /25);
}

#details2 {
  text-align: right;
  position: relative;
  font-family: monospace;
  top: calc(100vmin / -26);
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  color: black;
  font-size: calc(100vmin /25);
}

.three {
  font-family: Bebas;
  font-size: calc(100vmin / 10);
  text-align: right;
  display: flex;
  background: #4aec9b;
  color: #000000;
  height: fit-content;

}

.four {
  font-family: Bebas;
  font-size: calc(100vmin / 10);
  text-align: left;
  background: #282c34;
  height: fit-content;
  color: white;
}

.five {
  border-top:25px solid #d0d0d0;
  color:black;
  font-family: Bebas;
  font-size: calc(100vmin / 6);
  text-align: center;
  height: 100vh;
  background-size: auto 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='560' preserveAspectRatio='none' viewBox='0 0 2000 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1085%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c50 C 100%2c89.4 300%2c244.2 500%2c247 C 700%2c249.8 800%2c78.6 1000%2c64 C 1200%2c49.4 1300%2c179.8 1500%2c174 C 1700%2c168.2 1900%2c62.8 2000%2c35L2000 560L0 560z' fill='rgba(74%2c 236%2c 155%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c321 C 100%2c351.8 300%2c468.6 500%2c475 C 700%2c481.4 800%2c342.6 1000%2c353 C 1200%2c363.4 1300%2c516.2 1500%2c527 C 1700%2c537.8 1900%2c431 2000%2c407L2000 560L0 560z' fill='rgba(40%2c 44%2c 52%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1085'%3e%3crect width='2000' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}


@font-face {
  font-family: 'Zai';
  src: local('Zai'), url(./fonts/zai.ttf) format('truetype');
}

@font-face {
  font-family: 'Bebas';
  src: local('Bebas'), url(./fonts/Bebas.ttf) format('truetype');
}

@font-face {
  font-family: 'Amatic';
  src: local('Amatic'), url(./fonts/Amatic.ttf) format('truetype');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.typed-text {
  font-size: calc(100vmin / 20);
  color:#282c34;
}



.logo {
  font-size: calc(100vmin / 20);
  z-index: 3;  
  position: fixed;
  font-family: Zai;
  width: 100vw;
  text-align: center;
  justify-content: center;
  top: 0;
}

.style {
  z-index: 3;
}

.navbar-dark, .navbar-nav, .nav-link {
  height: calc(100vmin / 8);
  color: white;
}

.header-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.black {
  background-color: #282c34;

}

.navbar-collapse {
  box-shadow: 0px 4px 15px 3px #000000;
}

::-webkit-scrollbar {
  display:none;
  scrollbar-width: none; 
}

@media only screen and (min-width: 768px) {.wrapper2 {
    width:50vw;
}}